/*How to style a rich combo*/
.richComboButton {
	background-color: #E3E3E3;
	border: 1px solid #939393;
	color: #000;
	display: block;
	text-decoration: none;
	width: 300px;
}
.richComboButton:hover{
	background-color: #f3f3f3;
}
.richComboList{
	background-color: #f5f5f5;
	border: 1px solid #939393;
	list-style: none;
	padding: 0px;
	width: 300px;
}
.richComboList a{
	color: #000;
	display: block;
	text-decoration: none;
	width: 100%;
}
.ui-state-hover{
	background-color: #e3e3e3;
}
